*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    text-align: center;
}

button{
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(60, 215, 60);
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(53, 146, 53);
    color: white;
    text-decoration: underline;
}

#pet-display{
    display: flex;
    align-items: center;
    height: 55vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}

.pet-card{
    margin: 5px 0;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: lightblue;
}

h2{
    margin-bottom: 5px;
    color: white;
}